.box {
    width: 500px;
    height: 500px;
    border:  5px solid black;
    margin: 20px auto;
    position: absolute;
    left: 680px;
    right: center;
    top: center;
    bottom: center;
}

.item1 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 10px;
    top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 10px;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    right: 10px;
    top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item4 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    right: 10px;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item5 {
    width: 100px;
    height: 100px;
    border: solid black;
    position:absolute;
    left: 200px;
    right: 200px;
    top: 200px;
    bottom: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    align-items: center;
    justify-content: center;
    display: flex;
}